<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/dist/output.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
</head>
<style>

</style>
<body>
    <nav class="bg-white shadow-md ">
     <div class="navbar flex w-full">
        <img src="" alt="logo" class="logo w-[45px] h-[45px] float-left">
        <form id="search" action="/profile/search" method="post">
            <input type="search" name="search" placeholder="Search..." class="w-60 h-10 rounded-full m-2 p-2">
        
        </form>
        <div class="items float-right flex gap-10  w-92 justify-between items-center">
            <a href="/explore"><img src="/icons/explore.svg" alt="" class="menu  w-[45px] h-[45px] rounded-full cursor-pointer"></a>
            <img src="/icons/message.svg" alt="" class="menu w-[45px]  w-[45px] rounded-full h-[45px] cursor-pointer ">
            <a href="/findusers"><img src="/icons/findpeople.svg" alt="" class="menu  w-[45px] h-[45px] rounded-full cursor-pointer "></a>
            <div class="dropdown">
                <a href="/"><img src="<%=ownerpicture%>" alt="" class="menu  w-[45px] h-[45px] rounded-full cursor-pointer"></a> 
                <div class="dropdown-content">
                    <form style="display:none" id="myform" method="post" action="/logout"></form>
                    <a class="likedposts" href="/likedposts">Liked Posts</a>
                    <a class="logoutbtn" onclick="document.getElementById('myform').submit();">Logout</a>
                </div>
            </div>
        </div>
     </div>
    </nav>
</body>
</html>