<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profilenav</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body>
    <nav class="nav w-full shadow-md mt-10">
        <div class="navbar w-full ">
            <ul class="w-full flex items-center justify-around  font-bold text-gray-500">
                <li><a href="/">Posts</a></li>
                <li><a href="/reels">Reels</a></li>
                <li><a href="/photos">Photos</a></li>
                <li><a href="/videos">Videos</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>