<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="videocontainer w-full rounded-md">
        <img  class="rounded-md relative h-auto top-2 object-fill" src="/posts/images/<%=items.contents[0].filename%>"alt="">
    </div>
</body>
</html>