<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="videocontainer w-full rounded-md">
        <video autoplay muted nodownload controls  class=" rounded-md relative top-2 object-fill">
            <source  src="/posts/videos/<%=items.contents[0].filename%>" type="video/mp4">
        </video>
    </div>
</body>
</html>