<!DOCTYPE html>
<html>
<head>
	<title><%=username%>'s Photos</title>
	<link rel="stylesheet"  href="/stylesheets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
	<base href="/">
</head>
<body>
	<header>
		<%- include('partials/navbar'); -%>
		<main>
			<%- include('partials/banner'); -%>
	</header>
	<div class="flex justify-center">
		<div class="postcontent grid  grid-cols-3 w-[70%] gap-4 mb-20">
			<%let reel= posts.filter(function(item) { %>
				<%if(item.contents[0].mimetype.split('/')[0]=='image'){%>
					<%- include('components/photocards',{items:item}); -%>
					<%}%>
					<% }); %>
				</div>
			</div>
</body>
</html>