<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coverphoto and Bio</title>
    <link rel="stylesheet" href="/stylesheets/coverprofile.css">
</head>
<body>
    <form action="/upload/cover" method="post" enctype="multipart/form-data">
        <div class='lol'>
            <img src="" alt="">
            <input type="file" accept='image/*' name="coverpicture" onchange="showImage()">
            <label for="bio">Bio</label>
            <input type="text" name="bio" id="bio">
            <input type="submit" value="upload">
          </div>
        </form>
      
</body>
<script>
    const imageUploader = document.querySelector("input");
const imagePreview = document.querySelector("img");

function showImage() {
  let reader = new FileReader();
 reader.readAsDataURL(imageUploader.files[0]);
  reader.onload = function(e) {
    imagePreview.classList.add("show");
    imagePreview.src = e.target.result;
  };
}

</script>
</html>